---
layout: default
---
<section class="section">
    <div class="container">
        <nav class="breadcrumb m-b-none" aria-label="breadcrumbs">
            <ul style="margin-left: 0">
                <li><a href="/"><i class="fas fa-home"></i></a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ page.date | date: "%Y/%m" }}</a></li>
            </ul>
        </nav>
        <h1 class="title">{{ page.date | date: "%Y/%m" }}</h1>
        <h2 class="subtitle is-size-7-mobile is-size-6-desktop has-text-grey">{{ page.date | date: "%Y/%m" }}のアーカイブページになります。</h2>
        <div class="home">       
            <div class="columns">
                <div class="column is-two-thirds">
                    {% if site.posts.size > 0 %}
                        {% for post in page.posts %}
                            <article class="card post-card">
                            {% if post.thumbnail %}
                                <a class="post-card__thumbnail" style="background-image: url({{ post.thumbnail }})" href="{{ post.url | relative_url }}"></a>
                            {% endif %}
                            <div class="card-content post-card__content">
                                <h3 class="title post-card__content__title m-b-sm"><a href="{{ post.url | relative_url }}" title="{{ post.title | escape }}">{{ post.title | escape }}</a></h3>
                                <p class="m-b-sm">{{ post.description | escape }}</p>
                                {% if post.tags %}
                                    <p class="m-b-sm">
                                    {% for tag in post.tags %}
                                        {% assign tag_name = tag | replace: " ", "_" %}
                                        <a href="{{ '/tags/' | append: tag_name | relative_url }}" class="tag is-link">
                                            {{ tag }}
                                        </a>
                                    {% endfor %}
                                    </p>
                                {% endif %}
                                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                                <span class="post-meta">{{ post.date | date: date_format }}</span>
                            </div>
                            </article>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>
</section>